
.header {
  max-width: 92%;

  position: relative;
  display: flex;
  justify-content: space-between;


  margin: 0 auto 56px;


  background-color: #2A2C2F;
}

/* но по-серьезному - я бы просто сделал max-width:90% на
    весь документ и не заморачивался, под это и
    бриф можно переделать
*/

@media screen and (max-width:1279px){
  .header{
    max-width: 90.5%;
  }
}

@media screen and (max-width:1023px){
  .header{
    max-width: 93.75%;
  }
}

@media screen and (max-width:767px){
  .header{
    margin: 0 auto 48px;
    max-width: 90%;
  }
}
