.place__paragraph {

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  /* тут была поправка, что не помакету, но в макете именно это значение
    29px или 169%
  */
  margin: 0 0 24px;
  align-self: start;

}

.place__paragraph:last-child{
  margin-bottom: 0;
}

@media screen and (max-width:1023px) {
  .place__paragraph{
    font-size: 16px;
  }
}

@media screen and (max-width:767px) {
  .place__paragraph{
    max-width: 767px;

  }
}
