.place__link{
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
opacity: 1;
text-decoration: underline;
color: white;

transition: 0.2s;

}

.place__link:hover{
  transition: 0.2s;
  opacity: 0.8;
}
