.footer__links-list{
  display: flex;
  flex-direction: row;

  list-style: none;
  padding: 0;
  margin:0;

}

@media screen and (max-width:767px) {
  .footer__links-list{
    flex-direction: column;
    margin-bottom: 48px;
  }
}
